/*Основная форма*/
body {
    background: #fff;
    margin: 0;
    padding: 0;
	font-family: 'Montserrat', sans-serif;
}
.header{
    font-weight: 200;
    background: #009CFF;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    font-size: 20px;
}
/*логотип в форме*/
.logo{
	height: 40px;
	width: 40px; 
	border: 2px solid gray; 
	border-radius: 50%; 
	background-color: #D9D9D9; 
	left: 30px; 
	border-color: #D9D9D9;
}




/* Стили для страницы index.html */
.container{
	height:90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*Форма в форме (синия)*/
.internalWindow{
	background-color: 71ACFF; 
	border-radius: 50px; 
	width: 35%; 
	height: 65%; 
	padding: 25; 
	text-align: center; 
}
/*Авторизация*/
.entrance{
	margin-left:auto; 
	margin-right: auto;
	width: 450; 
	height: 40; 
	font-size: 32; 
	font-family: Arial;
	color: #FFFFFF;
}
/*почта*/
.emailPassword{
	margin-top: 10%; 
	margin-bottom: 15%;
}
/*пароль*/
.email{
	background-color: 9E9E9E;
	height: 60; 
	width: 95%; 
	border-radius: 10px; 
	font-size: 24; 
	border: 0; 
	margin-bottom: 15%;
}
/*растояние от авторизацией до кнопки воити*/
.password{
	height: 60; 
	width: 95%; 
	border-radius: 10px; 
	font-size: 24; 
	border: 0;
	border-radius: 10px;
}
/*воити*/
.buttonEnter{
	height: 50; 
	width: 35%; 
	border-radius: 10px; 
	font-size: 24; 
	color: #4A3563; 
	background-color: #FFFFFF; 
	border: 0;
}
/*обозначение курсора на кнопку входа*/
.buttonEnter:hover{
	cursor:pointer;
}




/* Стили для страницы tableScreen.html */
/*Главная*/
.main{
	color: #FFFFFF;
	text-align: center;
	font-size: 20; 
	margin: 0px 0px 0px auto; 
}
.homePage{
	padding: 0px 50px 0px 50px;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 4;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {background-color: #c2e4ff;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {display: block;}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*Админ*/
.admin{
	color: #FFFFFF;
	font-size: 20; 
	margin: 0px 0px 0px auto; 
}
.organaization{
	color: #FFFFFF;
	font-size: 18; 
	margin: 0px;
}

/*Вкладки*/
.tabs{
	display: flex;
	list-style-type: none;
	grid-gap: 16px;
	margin-top: 15px;
}
.tabs ul {
	padding:0px;
}
.tabs li{
	float: left;
	position: relative;
}
.tabs a{
	float: left;
	padding: 10px 4px;
	text-decoration: none;
	color: black;
	background: white;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/*тень кнопки*/
	box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.25);
}
.tabs .active{
	z-index: 3;
}
.tabs .active a{
	color: black;
	/*box-shadow: inset 0px 0px 5px rgba(0,0,0,0.5);*/
	box-shadow: 0 3px 3px rgba(0,0,0,0.25) inset; 
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}
.tabs li::before, .tabs li::after, .tabs li a::before, .tabs li a::after {
	position: absolute;
	bottom: 0;
}
/*.tabs li:first-child::before, .tads li:first-child a::before, .tabs .active::after, .tabs .active::before, .tabs .active a::after, .tabs .active a::before{
	content:"";
}*/
.tabs .active::before, .tabs .active::after{
	background:white;
	z-index: 1;
}
.tabs li::before, .tabs li::after{
	background: #ddc385;
	width: 10px;
	height: 10px;
}
.tabs li::before{
	left: -10px;
}
.tabs li::after{
	right: -10px;
}
.tabs li a::after, .tabs li a::before{
	width: 20px;
	height:20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: #222;
	z-index: 2;
}
.tabs .active a::after, .tabs .active a::before{
	background: white;
}
.tabs li:first-child.active a::before, .tabs li:last-child.active a::after{
	background: #222;
}
.tabs li a::before{
	left: -20px;
}
.tabs li a::after{
	right: -20px;
}
/*Кнопка добавление вкладки*/
.addingATab{
	background-color: white;
	height: 38px;
	width: 38px;
	border-radius: 10px;
	border: none;
	/*тень кнопки*/
	box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.25);
}
/*курсор у кнопки добавление вкладки*/
.addingATab:hover{
	cursor:pointer;
}
/*над таблицей поиск и фильтер*/
.aboveTheTable{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 2%;
	margin-right: 2%;
	display: flex;
	justify-content: space-between;
}
/*поиск*/
.searchLine{
	color: #000000;
	width: 100%;
	border-top:none;
	border-left: none;
	border-right: none;
	/*margin-left: 75px;*/ 
}
/*Кнопка поиска*/
.byttonLine{
	color: #FFFFFF;
	height: 45px;
	width: 45px;
}
.searchLine:focus{
	outline: none;
}
/*кнопка фильтра*/
.filter{
	background: #FFFFFF;
	height: 38px;
	width: 38px;
	border-radius: 10px;
	border: none;
	/*тень кнопки*/
	box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
	position:absolute;
	left: 10px;
	bottom: 13px;
	/*margin: 1% 0% 0% 70%;
	background: url('imag.JPG');
	background: src=url(imag.png) no-repeat;*/
	
}
.filterBottom{
	background: #FFFFFF;
	height: 38px;
	width: 38px;
	border-radius: 10px;
	border: none;
	/*тень кнопки*/
	box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
	left: 10px;
	bottom: 13px;
	/*margin: 1% 0% 0% 70%;
	background: url('imag.JPG');
	background: src=url(imag.png) no-repeat;*/
}
/*курсор у кнопки фильтра*/
.filter:hover{
	cursor:pointer;
}

/*внешний фон таблицы (округленный синии)*/
.backgroundExternal{ 
	border-radius: 40px; 
	height: 70%; 
}
/*строки таблицы в синей форме в ширене*/
.border-none {
	border-collapse: collapse;
	/*border: none;*/
	table-layout: fixed;
	width:100%;
}
.tbody{
	height: 300px;
	overflow-y: auto;
}
/*.border-none td {
	border: 1px solid #0093FF;
}*/
/*цвет для столбцов в верху(синии)*/
.backgroundText{
	color: #71ACFF;
	background-color: #FFFFFF; 
	height: 55%; 
	margin: 1px 1px 1px 1px; 
	padding: 20px 20px 10px 20px; 
	text-align: center;
	border: 0;
	position:relative;
}

/*.headerSpaces{
	display:flex; 
	justify-content: space-between; 
	align-items: center;
}*/
/*цвет строк под столбцами (черный)*/
.backgroundLinesText{
	color: #000000;
	background-color: #FFFFFF; 
	margin: 1px 1px 1px 1px; 
	padding: 30px; 
	text-align: center;
}

.insideTheHeader{
	text-align: center;
}
.filter-text{
	display: inline-block;
	width: 60%;
}
/*горизонтальная рамка*/

.horizintalFramesHeader{
	border: 1px solid #0093FF; 
	border-left: none; 
	border-right: none; 
	border-collapse: collapse;
	border-top: 0;
	height: 50px;
}
.horizintalFrames td {
	border: 1px solid #0093FF; 
	border-left: none; 
	border-right: none; 
	border-collapse: collapse;
	border-top: 0;
	height: 50px;
}​

.horizintalFrames:hover {
	cursor: pointer;
	background-color: gray;
}

/*.border-none tr:first-child td {
	border-top: none;
}*/

/*.border-none tr:last-child td {
	border-bottom: none;
}*/

/*.border-none tr td:first-child {
	border-left: none;
}*/

/*.border-none tr td:last-child {
	border-right: none;
}*/
/*курсор у таблицы*/
.border-none .horizintalFrames:hover td{
	background: #c2e4ff;
	cursor:pointer;
}
/*цвет таблицы*/
.backgroundTable{
	border-radius: 25px; 
	border: 1.5px solid #0093FF;
	width: auto; 
	height: 80%; 
	align-items: center;
	margin: 5px 0px 5% 0%; 
	padding: 20px 20px 20px 20px;
	text-align: center;
	overflow-y: scroll;
}

.backgroundTable::-webkit-scrollbar {
  width: 0;
}
.top-left-corner{
	border-top-left-radius: 40px;
}
.top-right-corner{
	border-top-right-radius: 40px;
}
.bottom-left-corner{
	border-bottom-left-radius: 40px;
}
.bottom-right-corner{
	border-bottom-right-radius: 40px;
}

.buttonDiv{
	display: flex;
	grid-gap:16px;
}

/*кнопки внизу окна*/
.btButton{
	font-family: 'Montserrat', sans-serif;
	height: 38; 
	width: 200px; 
	border-radius: 10px; 
	font-size: 16; 
	color: #FFFFFF; 
	background-color: #3F8EFC; 
	border: 0;
}
.btButton:hover{
	cursor:pointer;
}

@media (max-width: 1000px) or (max-height: 1000px){
	.btButton{
		font-size: 12;
		width: 150px;
	}
	.backgroundText {
        font-size: 12px;
    }
	.backgroundLinesText{
		font-size: 10px;
		padding: 10px;
	}
	.filter img{
		width: 10px;
		height: 10px;
	}
	.filter{
		width: 30px!important;
		height: 30px!important;
	}
	.tabs a{
		font-size: 12;
	}
	.addingATab{
		width: 35px;
		height: 35px;
	}
	.backgroundExternal{
		height:60%;
	}
}

/*затемнение модального окна*/
.modal{
    position: fixed;
    top: 0;
	left: 0;
    background-color: rgba(0, 0, 0, 0.616);
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
	z-index: 4;
}
/*модальное окно*/
.modal-body{
    background-color: white;
    width: 50%;
	height:50%;
    border-radius: 10px;
	position: relative;
}
/*.modal-body-system{
	background-color: white;
    width: 50%;
	height: 50%;
    border-radius: 10px;
	font-family: Geneva, Arial, Helvetica, sans-serif;
}*/
.header-border{
	border: none;
	border-bottom: 1px solid #0093FF;
}
/*.header-border-system{
	border: none;
	border-bottom: 1px solid #0093FF;
}*/
.modal-body h2{
    margin-bottom: 20px;
    text-align: center;
	font-weight: 50;
	color: #0093FF;
}
.modal-body-system h2{
    margin-bottom: 20px;
    text-align: center;
	font-weight: 50;
	color: #0093FF;
}
.labelAttribute{
	color: #0093FF;
	font-weight: 50;
	margin-bottom: 25px;
	margin-top: 25px;
	font-size: 20px;
}
.modal-main{
	padding: 0px 30px 0px 30px;
	height: 70%;
	overflow: hidden;
}

.modal-main:hover {
  overflow-y: scroll;
}

.modal-main::-webkit-scrollbar {
	background-color: #f9f9fd;
	width: 10px;
}
.modal-main::-webkit-scrollbar-thumb {
	background-color: #0093FF;
	border-radius: 10px;
}
.modal-main::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #f9f9fd;
	width: 10px;
}

/*Чекбоксы с НАЗВАНИЯМИ ГРУПП*/
.checkbox {
	border: none;
	border-bottom: 1px solid #0093FF;
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
	display: none;
	/*appearance: none;
	-webkit-appearance: none;*/
}
.checkbox label {
    position: relative;
    display: inline-block;
    width:100%;
    /*Пробел между квадратиком и надписью чекбокса*/
    padding-left: 30px;
	margin: 10px 0px;
    font-size: 20px;
}

.checkbox label:hover{
	cursor:pointer;
}

.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
/*Квадратик чекбокса*/
.checkbox label::before{
    height: 16px;
    width: 16px;
    border-radius: 5px;
    border: 1px solid #0093FF;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}
/*Галочка чекбокса*/
.checkbox label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
	border-color: #34A853;
}
/*Скрытие галочки по умолчанию*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}
/*Появление галочки при выборе чекбокса*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: " ";
}

.img:hover{
	cursor:pointer;
}

.checkboxes2layer{
	display: none;
}

/*Чекбоксы с НАЗВАНИЯМИ АТРИБУТОВ*/
.checkbox2layer{
	padding-left: 30px;
	border: none;
}
.checkbox2layer input[type="checkbox"] {
    opacity: 0;
	display: none;
	/*appearance: none;
	-webkit-appearance: none;*/
}
.checkbox2layer label {
    position: relative;
    display: inline-block;
    width:100%;
    /*Пробел между квадратиком и надписью чекбокса*/
    padding-left: 30px;
	margin: 10px 0px;
    font-size: 20px;
}
.checkbox2layer label:hover{
	cursor:pointer;
}
.checkbox2layer label::before,
.checkbox2layer label::after {
    position: absolute;
    content: "";
    display: inline-block;
}
/*Квадратик чекбокса*/
.checkbox2layer label::before{
    height: 16px;
    width: 16px;
    border-radius: 5px;
    border: 1px solid #0093FF;
    left: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
}
/*Галочка чекбокса*/
.checkbox2layer label::after {
    height: 5px;
    width: 9px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    transform: rotate(-45deg);
    left: 4px;
    top: 7px;
	border-color: #34A853;
}
/*Сокрытие галочки по умолчанию*/
.checkbox2layer input[type="checkbox"] + label::after {
    content: none;
}
/*Появление галочки при выборе чекбокса*/
.checkbox2layer input[type="checkbox"]:checked + label::after {
    content: " ";
}

/*Группа кнопок*/
.form-group{
    width:100%;
}
.form-control{
    position: absolute;
	left: 30px;
	right:30px;
	bottom: 30px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width:800px) {
    .table-responsive{
        overflow-x: scroll;
    }
}
.btn{
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    background-color: #b8b8b8;
}
.btn-primary{
    background-color: dodgerblue;
    color: white;
}
.btn:active{
    transform: scale(.9);
}
.btn-success{
    background-color: #2DC200;
    color: white;
}
.btn-danger{
    background-color: #FF0048;
    color: white;
}




/*editingTheSystem.html*/
.filter-text{
	display: inline-block;
	width: 60%;
}
/*строки таблицы в синей форме в ширене*/
.border-none-editing {
	/*border: none;*/
	table-layout: fixed;
	width:100%;
}
.tbody-editing{
	height: 50px;
	overflow-y: auto;
}
.table-formation{
	width: 80%; 
	display: inline-grid; 
	grid-template-columns: 40% 60%; 
	grid-gap: 10px; 
	margin: 0px 10% 0px 10%;
}
.heder-editing{
	margin-bottom: 40px;
	flex: 1;
    color: #2196f3;
	justify-self: center;
}

.form-row {
	/*border-bottom: 1px solid #68b6ff;
    align-items: center;
    margin: 30px 0;
    padding-bottom: 10px;*/
	grid-column: span 2; 
	border-bottom: 1px solid #68b6ff;
}
.bg{
	margin-top: 50px;
}
.form-row:last-child {
    border-bottom: none;
}

.label-editing {
    flex: 1;
    color: #2196f3;
}

.input-editing {
	flex: 2;
}

.input-editing{
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #68b6ff;
    border-radius: 10px;
    font-size: 18px;
    outline: none;
	
}
/*цвет таблицы*/
.bTS{
	border-radius: 25px; 
	border: 1px solid #0093FF;
	width: auto; 
	height: 80%; 
	align-items: center;
	margin: 5px 0px 5% 0%; 
	padding: 20px 20px 20px 20px;
}
.scrollOfAtributes{
	overflow-y: scroll; 
	height: 80%;
}
.scrollOfAtributes::-webkit-scrollbar {
	background-color: #f9f9fd;
	width: 10px;
}
.scrollOfAtributes::-webkit-scrollbar-thumb {
	background-color: #0093FF;
	border-radius: 10px;
}
.scrollOfAtributes::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
	background-color: #f9f9fd;
	width: 10px;
}
/*.input[type="text"]:focus {
    border-color: #2196f3;
}*/




/*Стили для страницы historyOfChanges.html*/
.homePageHistory{
	margin-top: 5%; 
	padding: 0px 50px 0px 50px;
}
/*кнопка фильтра*/
.filter{
	background: #FFFFFF;
	height: 38px;
	width: 38px;
	border-radius: 10px;
	border: none;
	/*тень кнопки*/
	box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
	position:absolute;
	left: 10px;
	bottom: 13px;
	/*margin: 1% 0% 0% 70%;
	background: url('imag.JPG');
	background: src=url(imag.png) no-repeat;*/
	
}
.filterBottomHistory{
	background: #FFFFFF;
	height: 38px;
	width: 38px;
	border-radius: 10px;
	border: none;
	/*тень кнопки*/
	box-shadow: 1px 3px 1px 1px rgba(0, 0, 0, 0.5);
	left: 10px;
	bottom: 13px;
	/*margin: 1% 0% 0% 70%;
	background: url('imag.JPG');
	background: src=url(imag.png) no-repeat;*/
}
/*курсор у кнопки фильтра*/
.filterBottomHistory:hover{
	cursor:pointer;
}